@model IEnumerable<MVC_Store.Models.ViewModels.Shop.ProductViewModel>

@{
    ViewBag.Title = "Products";
}

<h2 class="mb-4">Main page</h2>

<div class="products">
    @foreach (var product in Model)
    {
        <div class="product">
            <div class="product-title"><a href="/shop/product-details/@product.Slug">@product.Name</a></div>
            <div class="product-photo">
                <a href="/shop/product-details/@product.Slug">
                    <img src="/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" alt="product" />
                </a>
            </div>
            <div class="product-price">
                @product.Price <span>UAH</span></div>
            <div class="product-btn">
                <a class="btn btn-outline-primary w-100 addtocart" href="/Cart/AddToCartPartial/@product.Id" data-id="@product.Id">Add to cart</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/Content/shopjs/products.js"></script>
    <script>
        $(function () {
            $("a.addtocart").click(function (e) {
                e.preventDefault();

                var id = $(this).data("id");
                var url = "/cart/AddToCartPartial";

                $.get(url, { id: id}, function (data) {
                    $(".ajax-cart").html(data);
                }).done(function () {
                    var url = "/cart/AddToCartPartial";
                });
            });
        });
    </script>
}