@font-face {
    font-family: 'Montserrat Regular';
    font-weight: 400;
    src: url("https://webfonts.pro/templates/fonts/download/Montserrat/Montserrat-Regular.woff");
}
body {
    font-family: 'Montserrat Regular';
}
