
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
a{
    text-decoration:none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.admin_page-title{
    margin-top:30px;
    margin-bottom:30px;
}
.new-cat{
    position:relative;
}
.ajax-text{
    display:none;
}
.back__btn{
    position:relative;
}
.back__arrow {
    width:27px;
    height:27px;
    position:absolute;
    display:block;
    left:-45px;
    top:50%;
    transform:translate(0,-50%);
}