@font-face {
    font-family: 'Segoe UI Regular';
    font-weight: 400;
    src: url("https://webfonts.pro/templates/fonts/download/SegoeUI/SegoeUI.woff");
}
body {
    font-family: 'Segoe UI Regular';
    padding-top: 50px;
    padding-bottom: 20px;
}
a{
    text-decoration:none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.admin_page-title{
    margin-top:20px;
    margin-bottom:20px;
}